<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


    <link rel="stylesheet" href="psb_project/locallibrary/catalog/style.css">
    <title>PSB MCQ Project</title>
    <style>

    </style>
</head>
<header style="height: 400px; overflow: hidden;">
    <div class="overlay">
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" width="100%" height="auto">
            <source src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4" type="video/mp4">
        </video>
    </div>
    <!--<div class="page-header">
        <img src="https://res-5.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_120,w_120,f_auto,b_white,q_auto:eco/bh5jsku61cr1cq3ibz0g"
            alt="PSB_logo" width="75" height="75" />
    </div>-->
</header>


<body>
    <div class="card">
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col-10 offset-1" style="margin-top : 3%">
                        <div class="formHeader" style="text-align: center;">
                            <h1 class="formHeader">Multiple choice quiz</h1>
                        </div>
                    </div>
                </div>
                <div class="row"></div>
                <div class="row">
                    <div class="form-group row">
                        <h1 class="formHeader">Topic : {{module.module_name}}</h1>
                    </div>
                </div>
                <p>

                </p>
                <form id="my_radio_box" action="">
                    <div>
                        <div class="form-group">
                            {% for qn in question|slice:1 %}
                            <div class="row">
                                <label for="myRadio">1) {{qn.question_name}}</label>
                                {% for ans in answer|first %}
                                <div>
                                    <div name="myRadioButtons" class="row">
                                        <input id="{{ans.first_choice}}" type="radio" name="one"
                                            value="{{ans.correct_answer}}" onclick="">
                                        <label for="first">{{ans.first_choice}}</label>
                                        </input>
                                        <input id="{{ans.second_choice}}" type="radio" name="one"
                                            value="{{ans.correct_answer}}" onclick="">
                                        <label for="second">{{ans.second_choice}}</label>
                                        </input>
                                        <input id="{{ans.third_choice}}" type="radio" name="one"
                                            value="{{ans.correct_answer}}" onclick="">
                                        <label for="third">{{ans.third_choice}}</label>
                                        </input>
                                        <input id="{{ans.fourth_choice}}" type="radio" name="one"
                                            value="{{ans.correct_answer}}" onclick="">
                                        <label for="fourth">{{ans.fourth_choice}}</label>
                                        </input>
                                        <div id="right1" name="right1" hidden><span
                                                class="glyphicon glyphicon-ok"></span></div>
                                        <div id="wrong1" name="wrong1" hidden><span id="wrong"
                                                class="glyphicon glyphicon-remove"></span></div>
                                    </div>

                                </div>
                                {% endfor %}
                                {% endfor %}
                            </div>
                        </div>
                        <p>

                        </p>
                        <div class="form-group">
                            {% for qn in question|slice:'1:2' %}
                            <div class="row">
                                <label for="myRadio">2) {{qn.question_name}}</label>
                                {% for answers in answer|slice:'1:2' %}
                                {% for ans in answers %}
                                <div>
                                    <div name="myRadioButtons" class="row">
                                        <input id="{{ans.first_choice}}" type="radio" name="two"
                                            value="{{ans.correct_answer}}" onclick="">
                                        <label for="first">{{ans.first_choice}}</label>
                                        </input>
                                        <input id="{{ans.second_choice}}" type="radio" name="two"
                                            value="{{ans.correct_answer}}" onclick="">
                                        <label for="second">{{ans.second_choice}}</label>
                                        </input>
                                        <input id="{{ans.third_choice}}" type="radio" name="two"
                                            value="{{ans.correct_answer}}" onclick="">
                                        <label for="third">{{ans.third_choice}}</label>
                                        </input>
                                        <input id="{{ans.fourth_choice}}" type="radio" name="two"
                                            value="{{ans.correct_answer}}" onclick="">
                                        <label for="fourth">{{ans.fourth_choice}}</label>
                                        </input>
                                        <div id="right2" name="right2" hidden><span
                                                class="glyphicon glyphicon-ok"></span></div>
                                        <div id="wrong2" name="wrong2" hidden><span
                                                class="glyphicon glyphicon-remove"></span></div>
                                    </div>
                                </div>
                                {% endfor %}
                                {% endfor %}
                                {% endfor %}
                            </div>
                        </div>
                        <p>

                        </p>
                        <div class="form-group">
                            {% for qn in question|slice:'2:3' %}
                            <div class="row">
                                <label for="myRadio">3) {{qn.question_name}}</label>
                                {% for answers in answer|slice:'2:3' %}
                                {% for ans in answers %}
                                <div>
                                    <div name="myRadioButtons" class="row">
                                        <input id="{{ans.first_choice}}" type="radio" name="three"
                                            value="{{ans.correct_answer}}" onclick="">
                                        <label for="first">{{ans.first_choice}}</label>
                                        </input>
                                        <input id="{{ans.second_choice}}" type="radio" name="three"
                                            value="{{ans.correct_answer}}" onclick="">
                                        <label for="second">{{ans.second_choice}}</label>
                                        </input>
                                        <input id="{{ans.third_choice}}" type="radio" name="three"
                                            value="{{ans.correct_answer}}" onclick="">
                                        <label for="third">{{ans.third_choice}}</label>
                                        </input>
                                        <input id="{{ans.fourth_choice}}" type="radio" name="three"
                                            value="{{ans.correct_answer}}" onclick="">
                                        <label for="fourth">{{ans.fourth_choice}}</label>
                                        </input>
                                        <div id="right3" name="right3" hidden><span
                                                class="glyphicon glyphicon-ok"></span></div>
                                        <div id="wrong3" name="wrong3" hidden><span
                                                class="glyphicon glyphicon-remove"></span></div>
                                    </div>
                                </div>
                                {% endfor %}
                                {% endfor %}
                                {% endfor %}
                            </div>
                        </div>
                        <p>

                        </p>
                        <div class="form-group">
                            {% for qn in question|slice:'3:4' %}
                            <div class="row">
                                <label for="myRadio">4) {{qn.question_name}}</label>
                                {% for answers in answer|slice:'3:4' %}
                                {% for ans in answers %}
                                <div>
                                    <div name="myRadioButtons" class="row">
                                        <input id="{{ans.first_choice}}" type="radio" name="four"
                                            value="{{ans.correct_answer}}" onclick="">
                                        <label for="first">{{ans.first_choice}}</label>
                                        </input>
                                        <input id="{{ans.second_choice}}" type="radio" name="four"
                                            value="{{ans.correct_answer}}" onclick="">
                                        <label for="second">{{ans.second_choice}}</label>
                                        </input>
                                        <input id="{{ans.third_choice}}" type="radio" name="four"
                                            value="{{ans.correct_answer}}" onclick="">
                                        <label for="third">{{ans.third_choice}}</label>
                                        </input>
                                        <input id="{{ans.fourth_choice}}" type="radio" name="four"
                                            value="{{ans.correct_answer}}" onclick="">
                                        <label for="fourth">{{ans.fourth_choice}}</label>
                                        </input>
                                        <div id="right4" name="right4" hidden><span
                                                class="glyphicon glyphicon-ok"></span></div>
                                        <div id="wrong4" name="wrong4" hidden><span
                                                class="glyphicon glyphicon-remove"></span></div>
                                    </div>
                                </div>
                                {% endfor %}
                                {% endfor %}
                                {% endfor %}
                            </div>
                        </div>
                        <p>

                        </p>
                        <div class="form-group">
                            {% for qn in question|slice:'4:5' %}
                            <div class="row">
                                <label for="myRadio">5) {{qn.question_name}}</label>
                                {% for answers in answer|slice:'4:5' %}
                                {% for ans in answers %}
                                <div>
                                    <div name="myRadioButtons" class="row">
                                        <input id="{{ans.first_choice}}" type="radio" name="five"
                                            value="{{ans.correct_answer}}" onclick="">
                                        <label for="first">{{ans.first_choice}}</label>
                                        </input>
                                        <input id="{{ans.second_choice}}" type="radio" name="five"
                                            value="{{ans.correct_answer}}" onclick="">
                                        <label for="second">{{ans.second_choice}}</label>
                                        </input>
                                        <input id="{{ans.third_choice}}" type="radio" name="five"
                                            value="{{ans.correct_answer}}" onclick="">
                                        <label for="third">{{ans.third_choice}}</label>
                                        </input>
                                        <input id="{{ans.fourth_choice}}" type="radio" name="five"
                                            value="{{ans.correct_answer}}" onclick="">
                                        <label for="fourth">{{ans.fourth_choice}}</label>
                                        </input>
                                        <div id="right5" name="right5" hidden><span
                                                class="glyphicon glyphicon-ok"></span></div>
                                        <div id="wrong5" name="wrong5" hidden><span
                                                class="glyphicon glyphicon-remove"></span></div>
                                    </div>
                                </div>
                                {% endfor %}
                                {% endfor %}
                                {% endfor %}
                            </div>
                        </div>
                        <p>

                        </p>
                        <div class="form-group">
                            {% for qn in question|slice:'5:6' %}
                            <div class="row">
                                <label for="myRadio">6) {{qn.question_name}}</label>
                                {% for answers in answer|slice:'5:6' %}
                                {% for ans in answers %}
                                <div>
                                    <div name="myRadioButtons" class="row">
                                        <input id="{{ans.first_choice}}" type="radio" name="six"
                                            value="{{ans.correct_answer}}" onclick="">
                                        <label for="first">{{ans.first_choice}}</label>
                                        </input>
                                        <input id="{{ans.second_choice}}" type="radio" name="six"
                                            value="{{ans.correct_answer}}" onclick="">
                                        <label for="second">{{ans.second_choice}}</label>
                                        </input>
                                        <input id="{{ans.third_choice}}" type="radio" name="six"
                                            value="{{ans.correct_answer}}" onclick="">
                                        <label for="third">{{ans.third_choice}}</label>
                                        </input>
                                        <input id="{{ans.fourth_choice}}" type="radio" name="six"
                                            value="{{ans.correct_answer}}" onclick="">
                                        <label for="fourth">{{ans.fourth_choice}}</label>
                                        </input>
                                        <div id="right6" name="right6" hidden><span
                                                class="glyphicon glyphicon-ok"></span></div>
                                        <div id="wrong6" name="wrong6" hidden><span
                                                class="glyphicon glyphicon-remove"></span></div>
                                    </div>
                                </div>
                                {% endfor %}
                                {% endfor %}
                                {% endfor %}
                            </div>
                        </div>
                        <p>

                        </p>
                        <div class="form-group">
                            {% for qn in question|slice:'6:7' %}
                            <div class="row">
                                <label for="myRadio">7) {{qn.question_name}}</label>
                                {% for answers in answer|slice:'6:7' %}
                                {% for ans in answers %}
                                <div>
                                    <div name="myRadioButtons" class="row">
                                        <input id="{{ans.first_choice}}" type="radio" name="seven"
                                            value="{{ans.correct_answer}}" onclick="">
                                        <label for="first">{{ans.first_choice}}</label>
                                        </input>
                                        <input id="{{ans.second_choice}}" type="radio" name="seven"
                                            value="{{ans.correct_answer}}" onclick="">
                                        <label for="second">{{ans.second_choice}}</label>
                                        </input>
                                        <input id="{{ans.third_choice}}" type="radio" name="seven"
                                            value="{{ans.correct_answer}}" onclick="">
                                        <label for="third">{{ans.third_choice}}</label>
                                        </input>
                                        <input id="{{ans.fourth_choice}}" type="radio" name="seven"
                                            value="{{ans.correct_answer}}" onclick="">
                                        <label for="fourth">{{ans.fourth_choice}}</label>
                                        </input>
                                        <div id="right7" name="right7" hidden><span
                                                class="glyphicon glyphicon-ok"></span></div>
                                        <div id="wrong7" name="wrong7" hidden><span
                                                class="glyphicon glyphicon-remove"></span></div>
                                    </div>
                                </div>
                                {% endfor %}
                                {% endfor %}
                                {% endfor %}
                            </div>
                        </div>
                        <p>

                        </p>
                        <div class="form-group">
                            {% for qn in question|slice:'7:8' %}
                            <div class="row">
                                <label for="myRadio">8) {{qn.question_name}}</label>
                                {% for answers in answer|slice:'7:8' %}
                                {% for ans in answers %}
                                <div>
                                    <div name="myRadioButtons" class="row">
                                        <input id="{{ans.first_choice}}" type="radio" name="eight"
                                            value="{{ans.correct_answer}}" onclick="">
                                        <label for="first">{{ans.first_choice}}</label>
                                        </input>
                                        <input id="{{ans.second_choice}}" type="radio" name="eight"
                                            value="{{ans.correct_answer}}" onclick="">
                                        <label for="second">{{ans.second_choice}}</label>
                                        </input>
                                        <input id="{{ans.third_choice}}" type="radio" name="eight"
                                            value="{{ans.correct_answer}}" onclick="">
                                        <label for="third">{{ans.third_choice}}</label>
                                        </input>
                                        <input id="{{ans.fourth_choice}}" type="radio" name="eight"
                                            value="{{ans.correct_answer}}" onclick="">
                                        <label for="fourth">{{ans.fourth_choice}}</label>
                                        </input>
                                        <div id="right8" name="right8" hidden><span
                                                class="glyphicon glyphicon-ok"></span></div>
                                        <div id="wrong8" name="wrong8" hidden><span
                                                class="glyphicon glyphicon-remove"></span></div>
                                    </div>
                                </div>
                                {% endfor %}
                                {% endfor %}
                                {% endfor %}
                            </div>
                        </div>
                        <p>

                        </p>
                        <div class="form-group">
                            {% for qn in question|slice:'8:9' %}
                            <div class="row">
                                <label for="myRadio">9) {{qn.question_name}}</label>
                                {% for answers in answer|slice:'8:9' %}
                                {% for ans in answers %}
                                <div>
                                    <div name="myRadioButtons" class="row">
                                        <input id="{{ans.first_choice}}" type="radio" name="nine"
                                            value="{{ans.correct_answer}}" onclick="">
                                        <label for="first">{{ans.first_choice}}</label>
                                        </input>
                                        <input id="{{ans.second_choice}}" type="radio" name="nine"
                                            value="{{ans.correct_answer}}" onclick="">
                                        <label for="second">{{ans.second_choice}}</label>
                                        </input>
                                        <input id="{{ans.third_choice}}" type="radio" name="nine"
                                            value="{{ans.correct_answer}}" onclick="">
                                        <label for="third">{{ans.third_choice}}</label>
                                        </input>
                                        <input id="{{ans.fourth_choice}}" type="radio" name="nine"
                                            value="{{ans.correct_answer}}" onclick="">
                                        <label for="fourth">{{ans.fourth_choice}}</label>
                                        </input>
                                        <div id="right9" name="right9" hidden><span
                                                class="glyphicon glyphicon-ok"></span></div>
                                        <div id="wrong9" name="wrong9" hidden><span
                                                class="glyphicon glyphicon-remove"></span></div>
                                    </div>
                                </div>
                                {% endfor %}
                                {% endfor %}
                                {% endfor %}
                            </div>
                        </div>
                        <p>

                        </p>
                        <div class="form-group">
                            {% for qn in question|slice:'9:10' %}
                            <div class="row">
                                <label for="myRadio">10) {{qn.question_name}}</label>
                                {% for answers in answer|slice:'9:10' %}
                                {% for ans in answers %}
                                <div>
                                    <div name="myRadioButtons" class="row">
                                        <input id="{{ans.first_choice}}" type="radio" name="ten"
                                            value="{{ans.correct_answer}}" onclick="">
                                        <label for="first">{{ans.first_choice}}</label>
                                        </input>
                                        <input id="{{ans.second_choice}}" type="radio" name="ten"
                                            value="{{ans.correct_answer}}" onclick="">
                                        <label for="second">{{ans.second_choice}}</label>
                                        </input>
                                        <input id="{{ans.third_choice}}" type="radio" name="ten"
                                            value="{{ans.correct_answer}}" onclick="">
                                        <label for="third">{{ans.third_choice}}</label>
                                        </input>
                                        <input id="{{ans.fourth_choice}}" type="radio" name="ten"
                                            value="{{ans.correct_answer}}" onclick="">
                                        <label for="fourth">{{ans.fourth_choice}}</label>
                                        </input>
                                        <div id="right10" name="right10" hidden><span
                                                class="glyphicon glyphicon-ok"></span></div>
                                        <div id="wrong10" name="wrong10" hidden><span
                                                class="glyphicon glyphicon-remove"></span></div>
                                    </div>
                                </div>
                                {% endfor %}
                                {% endfor %}
                                {% endfor %}
                            </div>
                        </div>
                </form>
                <div class="row" style="text-align: center;">
                    <div class="col">
                        <button class="btn btn-primary" onclick="refresh();">Reset</button>
                        <button class="btn btn-primary" onclick="check();">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

<footer class="page-footer font-small blue pt-4">
    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <div class="col-md-6 mt-md-0 mt-3">
                <h5 class="text-uppercase"></h5>
                <p></p>
            </div>
            <hr class="clearfix w-100 d-md-none pb-3">
            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-uppercase">PSB's Best Lecturer</h5>
                <ul class="list-unstyled">
                    <li>
                        <img src="https://www.psb-academy.edu.sg/storage/uploads/00000000166.jpg" alt="Mr_Siwa_Logo"
                            width="75" height="75" />
                    </li>
                </ul>
            </div>
            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-uppercase">Powered by</h5>
                <ul class="list-unstyled">
                    <li>
                        <img src="https://res-5.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_120,w_120,f_auto,b_white,q_auto:eco/bh5jsku61cr1cq3ibz0g"
                            alt="PSB_logo" width="75" height="75" />
                    </li>
                </ul>
            </div>
            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-uppercase">Contact Us</h5>
                <ul class="list-unstyled">
                    <li>
                        <img src="https://www.pngkey.com/png/full/270-2708937_gmail-icon-transparent-background-logo-email-fondo-transparente.png"
                            alt="Email_logo" width="15" height="15">
                        <label for="">Email: Joenjl@gmail.com</label>
                    </li>
                    <li>
                        <img src="https://previews.123rf.com/images/urfandadashov/urfandadashov1808/urfandadashov180821456/108675455-call-vector-icon-isolated-on-transparent-background-call-logo-concept.jpg"
                            alt="Call_logo" width="15" height="15">
                        <label for="">Contact: +65 87480897</label>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-uppercase">Our Social Media</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#"><i class="icon ion-social-instagram"></i></a>
                        <a href="#"><i class="icon ion-social-snapchat"></i></a>
                        <a href="#"><i class="icon ion-social-twitter"></i></a>
                        <a href="#"><i class="icon ion-social-facebook"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="#"> PsbProject.com</a>
    </div>
</footer>

</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
    $('#my_radio_box').change(function () {
        var number1 = document.getElementsByName('one');
        var number2 = document.getElementsByName('two');
        var number3 = document.getElementsByName('three');
        var number4 = document.getElementsByName('four');
        var number5 = document.getElementsByName('five');
        var number6 = document.getElementsByName('six');
        var number7 = document.getElementsByName('seven');
        var number8 = document.getElementsByName('eight');
        var number9 = document.getElementsByName('nine');
        var number10 = document.getElementsByName('ten');
        var len1 = number1.length
        var len2 = number2.length
        var len3 = number3.length
        var len4 = number4.length
        var len5 = number5.length
        var len6 = number6.length
        var len7 = number7.length
        var len8 = number8.length
        var len9 = number9.length
        var len10 = number10.length
        for (i = 0; i < len1; i++) {
            if (number1[i].checked) {
                if (number1[i].id == number1[i].value) {
                    $('#right1').show();
                    $('#wrong1').hide();
                }
                else {
                    $('#right1').hide();
                    $('#wrong1').show();
                }
            }
            if (number2[i].checked) {
                if (number2[i].id == number2[i].value) {
                    $('#right2').show();
                    $('#wrong2').hide();
                }
                else {
                    $('#right2').hide();
                    $('#wrong2').show();
                }
            }
            if (number3[i].checked) {
                if (number3[i].id == number3[i].value) {
                    $('#right3').show();
                    $('#wrong3').hide();
                }
                else {
                    $('#right3').hide();
                    $('#wrong3').show();
                }
            }
            if (number4[i].checked) {
                if (number4[i].id == number4[i].value) {
                    $('#right4').show();
                    $('#wrong4').hide();
                }
                else {
                    $('#right4').hide();
                    $('#wrong4').show();
                }
            }
            if (number5[i].checked) {
                if (number5[i].id == number5[i].value) {
                    $('#right5').show();
                    $('#wrong5').hide();
                }
                else {
                    $('#right5').hide();
                    $('#wrong5').show();
                }
            }
            if (number6[i].checked) {
                if (number6[i].id == number6[i].value) {
                    $('#right6').show();
                    $('#wrong6').hide();
                }
                else {
                    $('#right6').hide();
                    $('#wrong6').show();
                }
            }
            if (number7[i].checked) {
                if (number7[i].id == number7[i].value) {
                    $('#right7').show();
                    $('#wrong7').hide();
                }
                else {
                    $('#right7').hide();
                    $('#wrong7').show();
                }
            }
            if (number8[i].checked) {
                if (number8[i].id == number8[i].value) {
                    $('#right8').show();
                    $('#wrong8').hide();
                }
                else {
                    $('#right8').hide();
                    $('#wrong8').show();
                }
            }
            if (number9[i].checked) {
                if (number9[i].id == number9[i].value) {
                    $('#right9').show();
                    $('#wrong9').hide();
                }
                else {
                    $('#right9').hide();
                    $('#wrong9').show();
                }
            }
            if (number10[i].checked) {
                if (number10[i].id == number10[i].value) {
                    $('#right10').show();
                    $('#wrong10').hide();
                }
                else {
                    $('#right10').hide();
                    $('#wrong10').show();
                }
            }
        }
    });
    function refresh() {
        window.location.reload();
    }
    function check() {
        var score = 0;
        var number1 = document.getElementsByName('one');
        var number2 = document.getElementsByName('two');
        var number3 = document.getElementsByName('three');
        var number4 = document.getElementsByName('four');
        var number5 = document.getElementsByName('five');
        var number6 = document.getElementsByName('six');
        var number7 = document.getElementsByName('seven');
        var number8 = document.getElementsByName('eight');
        var number9 = document.getElementsByName('nine');
        var number10 = document.getElementsByName('ten');
        var len1 = number1.length
        var len2 = number2.length
        var len3 = number3.length
        var len4 = number4.length
        var len5 = number5.length
        var len6 = number6.length
        var len7 = number7.length
        var len8 = number8.length
        var len9 = number9.length
        var len10 = number10.length

        for (i = 0; i < len1; i++) {
            if (number1[i].checked) {
                if (number1[i].id == number1[i].value) {
                    score += 1;
                }
            }
            if (number2[i].checked) {
                if (number2[i].id == number2[i].value) {
                    score += 1;
                }
            }
            if (number3[i].checked) {
                if (number3[i].id == number3[i].value) {
                    score += 1;
                }
            }
            if (number4[i].checked) {
                if (number4[i].id == number4[i].value) {
                    score += 1;
                }
            }
            if (number5[i].checked) {
                if (number5[i].id == number5[i].value) {
                    score += 1;
                }
            }
            if (number6[i].checked) {
                if (number6[i].id == number6[i].value) {
                    score += 1;
                }
            }
            if (number7[i].checked) {
                if (number7[i].id == number7[i].value) {
                    score += 1;
                }
            }
            if (number8[i].checked) {
                if (number8[i].id == number8[i].value) {
                    score += 1;
                }
            }
            if (number9[i].checked) {
                if (number9[i].id == number9[i].value) {
                    score += 1;
                }
            }
            if (number10[i].checked) {
                if (number10[i].id == number10[i].value) {
                    score += 1;
                }
            }
        }

        alert("Results: " + score.toString() + "/10")
        window.location.reload();
    }
</script>